{% extends 'shops_index/base.html' %}

{% block content %}
<h1>{{tag.title}}</h1>
<hr>
<div style="width: 100%;min-height:100%;overflow:hidden;">
{% for thing in tag.shops.all %}
<div style="
background: #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
padding: 10px;
margin-top: 1%;
margin-left: 1%;
float:left;
height:10%;
width: 20%;
">
    <img src="../media/{{thing.img}}" style="width: 100%;height:200px;">
    <p><b><a href="/shops/{{ thing.pk }}">{{thing.title}}</a></b></p>
    <p><b>Артикул:</b> {{thing.code_thing}}</p>
    <p><b>Группа:</b> {{thing.group}}</p>
    <p><b>Цена:</b> {{thing.price}}</p>
    <div style="
    width: 200px;
    height: 80px;
    overflow: hidden;
    position: relative;
">
        <p><b>Описание:</b><br>{{thing.description}}</p>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}